# Load pass shortcuts functions
source_env $HOME/.envrc_common

# For the local environment always run in dev mode
export ABK_DEPLOYMENT_ENV=dev
export ABK_PRJ_NAME=abk
export AWS_ACCESS_KEY_ID=$(passme $ABK_DEPLOYMENT_ENV/aws/aws_access_key_id)
export AWS_SECRET_ACCESS_KEY=$(passme $ABK_DEPLOYMENT_ENV/aws/aws_secret_access_key)
# export ABK_AWS_DEFAULT_PROFILE=$ABK_DEPLOYMENT_ENV
# export AWS_PROFILE=$ABK_DEPLOYMENT_ENV
# export AWS_DEFAULT_PROFILE=$ABK_DEPLOYMENT_ENV

# export ABK_COGNITO_USR=$(pass $ABK_DEPLOYMENT_ENV/aws/abk_cognito_usr)
# export ABK_COGNITO_PSW=$(pass $ABK_DEPLOYMENT_ENV/aws/abk_cognito_psw)
# export ABK_NPM_TOKEN_RO=$(pass node/abk_npm_token_ro)
[ "$ABK_DEVELOPMENT_ENV" != "prod" ] && export LOG_LEVEL=debug || export LOG_LEVEL=info


# export AWS_ACCESS_KEY_ID_DEV=$(pass dev/aws/aws_access_key_id)
# export AWS_SECRET_ACCESS_KEY_DEV=$(pass dev/aws/aws_secret_access_key)
# export AWS_ACCESS_KEY_ID_QA=$(pass qa/aws/aws_access_key_id)
# export AWS_SECRET_ACCESS_KEY_QA=$(pass qa/aws/aws_secret_access_key)
# export AWS_ACCESS_KEY_ID_PROD=$(pass prod/aws/aws_access_key_id)
# export AWS_SECRET_ACCESS_KEY_PROD=$(pass prod/aws/aws_secret_access_key)
